#pythonl {
    background-color: grey;
}
#casa {
    background-color: chocolate;
}
#fee {
    background-color: greenyellow;
}
#pythont {
    background-color: orangered;
}
#decal {
    background-color: darkslategrey;
}
#deca {
    background-color: darkslategray;
}

